/* IMPOSTAZIONI GENERALI */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.5em;
}

.body {
  color: #393d41;
  line-height: 1.65;
  font-family: open sans;
  font-size: 1.2rem;
}
/* HEADER */
header {
  background-color: black;
}
.logo {
  width: 200px;
  padding: 2rem;
}
.titolo {
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  text-align: center;
  padding: 10.5rem;
  background-size: cover;
}
.titolo h1 {
  padding: 1rem;
  color: #299fca;
  font-weight: bold;
  padding-block: 1rem;
  padding-inline: 7rem;
  font-size: 2rem;
}
.titolo p {
  margin-inline: 15rem;
  margin-bottom: 1rem;
}
.button {
  margin-block: 1rem;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 3%;
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  border: none;
}

/*MAIN*/

.box-1 {
  width: 50%;
  display: inline-block;
  margin-block: 1rem;
}
.articolo {
  padding-inline: 9rem;
}

.notebook {
  margin-left: 10rem;
  border-radius: 100%;
  width: 450px;
}
#h3 {
  margin-top: 1rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #299fca;
}
.blocco-3 {
  text-align: center;
  background-color: #f04c2f;
  color: white;
  margin-block: 1rem;
  padding-block: 3rem;
  padding-inline: 1rem;
}
.blocco-3 h2 {
  font-weight: bold;
  font-size: 21px;
  margin-block: 1rem;
  padding-block: 1rem;
}
.blocco-3 p {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
}
/* FOOTER */
.blocco-4 {
  border: solid thin #dee1e3;
}
.blocco-4 img {
  width: 100%;
}
.blocco-4 p {
  padding-bottom: 1rem;
}
.blocco-5 {
  border: solid thin #dee1e3;
}
.blocco-5 img {
  width: 100%;
}
.blocco-5 p {
  padding-bottom: 1rem;
}
.blocco-6 {
  border: solid thin #dee1e3;
}
.blocco-6 img {
  width: 100%;
}
.blocco-6 p {
  padding-bottom: 1rem;
}
.box-2 {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 1rem;
}

/*footer*/
footer {
  margin-top: 1rem;
  text-align: center;
  background-color: #25a2c3;
  color: white;
  padding: 2rem;
}
footer h2 {
  font-weight: bold;
  margin: 1rem;
  font-size: 20px;
}
.bordo {
  border-top: solid thin #ffffff;
  margin: 1rem;
  margin-bottom: 1.5rem;
  margin-inline: 37rem;
}

footer a {
  color: #c8e7f0;
}
.link {
  margin-block: 2rem;
}
.link a {
  color: #c8e7f0;
}
.link span {
  color: #c8e7f0;
}
.link i {
  color: white;
}
footer span {
  color: #c8e7f0;
}
