/* IMPOSTAZIONI GENERALI */
* {
  box-sizing: border-box;
}
.body,
h1,
h2,
h3,
h4 {
  line-height: 1.5em;
}
.body {
  text-align: center;
  color: #393d41;
  line-height: 1.65;
  font-family: open sans;
  font-size: 1.2rem;
}
/* HEADER */
header {
  background-color: black;
}
.logo {
  width: 150px;
  padding: 1rem;
}
.titolo {
  background-image: url(../images/banner.jpg);
  background-size: 100%;
}
.titolo h1 {
  padding: 1rem;
  color: #299fca;
  font-weight: bold;
  padding-block: 1rem;
  padding-inline: 7rem;
}

.titolo p {
  margin-inline: 8px;
  padding-inline: 24px;
  margin-top: -14px;
}
.button {
  margin-block: 1rem;
  padding-inline: 20px;
  padding-block: 8px;
  border-radius: 3%;
  background-color: #f04c2f;
  color: white;
  font-weight: bold;
  font-family: Montserrat;
  border: none;
  cursor: pointer;
}
/* MAIN */
.blocco-1 p {
  margin-bottom: 2rem;
  padding-inline: 64px;
}

.h3 {
  margin-top: 2rem;
  margin-bottom: 10px;
  font-weight: bold;
  color: #299fca;
}
.notebook {
  margin-top: 1rem;
  width: 350px;
  border-radius: 100%;
}
.blocco-2 p {
  margin-inline: 1rem;
}
.h3 {
  color: #299fca;
}
.blocco-3 {
  background-color: #f04c2f;
  color: white;
  margin-block: 1rem;
  padding-block: 1rem;
  padding-inline: 1rem;
}

.blocco-3 h2 {
  font-weight: bold;
  font-size: 21px;
  margin-block: 1rem;
  padding-block: 1rem;
}
.blocco-3 p {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 16px;
}
.blocco-4 {
  border: solid thin #dee1e3;
  margin: 1rem;
}
.blocco-4 img {
  width: 100%;
}
.blocco-4 p {
  padding-bottom: 1rem;
}
.blocco-5 {
  border: solid thin #dee1e3;
  margin: 1rem;
}
.blocco-5 img {
  width: 100%;
}
.blocco-5 p {
  padding-bottom: 2rem;
}
.blocco-6 {
  border: solid thin #dee1e3;
  margin: 1rem;
}
.blocco-6 img {
  width: 100%;
}
.blocco-6 p {
  padding-bottom: 1rem;
}

/* FOOTER */

footer {
  background-color: #25a2c3;
  color: white;
  padding: 2rem;
}
footer h2 {
  font-weight: bold;
  margin: 1rem;
  font-size: 20px;
}
.bordo {
  border-top: solid thin #ffffff;
  margin: 1rem;
  margin-bottom: 1.5rem;
  margin-inline: 4rem;
}

footer a {
  color: #c8e7f0;
}
.link {
  margin-block: 2rem;
}
.link a {
  color: #c8e7f0;
}
.link span {
  color: #c8e7f0;
}
.link i {
  color: white;
}
footer span {
  color: #c8e7f0;
}
